[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo.git

[submodule "themes/freemind"]
	path = themes/freemind	
	url = https://github.com/wzpan/hexo-theme-freemind.git
	
[submodule "themes/freemind-plus"]
	path = themes/freemind-plus
	url = https://github.com/myyerrol/hexo-theme-freemind-plus.git	